* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    display: flex;
    width: 100%;
}


/*------------------------------------------------NAV----------------------------------------------------------------*/
nav {
    flex: 0 0 26%;
}

.navbar {
    position: sticky;
    top: 0;
}

.menu {
    list-style-type: none;
    font-size: 21px;
    line-height: 240%;
    margin-bottom: 3px;
    margin-top: 0;
    margin-left: clamp(5px, 10vw, 80px);
    min-width: 40px;
}

.menu i {
    padding-right: 20px;
    font-size: 25px;
}

.menu li:first-child i {
    padding-right: 0;
    padding-top: 10px;
}

.menu li:first-child a .fa-brands.fa-twitter {
    font-size: 35px;
}

.menu a, .menu-link {
    display: inline-block;
    border-radius: 9999px;
    padding: 0 10px;
    box-sizing: border-box;
}

.menu a:hover, .menu-link:hover {
    background-color: #f0f0f1;
    cursor: pointer;
}

.postNav {
    background-color: #1DA1F2;
    color: white;
    text-align: center;
    border-radius: 50px;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-left: clamp(5px, 10vw, 120px);
    margin-right: 30px;
}

.postNav:hover {
    background-color: #0C90E1;
    cursor: pointer;
}

.profile {
    display: flex;
    border-radius: 50px;
    margin-top: 15px;
    padding: 10px 0;
    margin-left: clamp(5px, 10vw, 120px);
    margin-right: 10px;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.profileRight {
    display: flex;
    flex-direction: column;
}

.profileFL {
    display: flex;
    padding: 5px 0;
}

.profileFLname {
    font-weight: 600;
    margin-right: 5px;
}

.profileUname {
    color: #536471;
}

.pu2 {
    font-size: 13px;
    font-weight: normal;
}

.profile:hover {
    background-color: #f0f0f1;
    cursor: pointer;
}

.profileOptionsWindow {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    border-radius: 10px;
    width: 320px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: #000000;
    font-weight: 700;
}

.profileOptionsWindow a {
    display: block;
    cursor: pointer;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

.profileOptionsWindow a:hover {
    background-color: #f0f0f0;
    border-radius: 0 0 10px 10px;
}

.powoption {
    padding: 20px;
    cursor: pointer;
}

.powoption:hover {
    background-color: #f0f0f0;
    border-radius: 10px 10px 0 0;
}

.moreOptionsWindow {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    border-radius: 10px;
    width: 350px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 1;
    color: #000000;
    font-weight: 700;
}

.moreOptionsWindow a {
    display: block;
    padding: 10px;
    font-size: 15px;
}

.mowoptionLink1:hover {
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}

.mowoptionLink2:hover {
    cursor: pointer;
    border-radius: 0;
}

.mowoption {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-size: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: red;
}

.mowoption:hover {
    background-color: #f0f0f0;
}

/*------------------------------------------------------MAIN--------------------------------------------------------*/
main {
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
    border-left: 1px solid #f0f0f1;
    border-right: 1px solid #f0f0f1;
    min-width: 400px;
}

.topbar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #f0f0f0;
    text-align: center;
    font-weight: 600;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: #FFFFFFF2;
    backdrop-filter: blur(3px);
}

.tb2 {
    margin-top: 5px;
}

.stickyTopBar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #FFFFFFF2;
    backdrop-filter: blur(3px);
}

.foryoufollowing {
    padding: 20px 10px;
}

.topbar a {
    color: gray;
    flex: 1;
    text-align: center;
}

.foryoufollowing:hover {
    background-color: #f0f0f1;
}

.settings {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.settings a {
    font-size: 15px;
    color: #000;
    border-radius: 50%;
    padding: 10px;
}

.settings a:hover {
    background-color: #f0f0f1;
}

.addPost {
    display: flex;
    border-bottom: 1px solid #f0f0f1;
}

.userPhoto {
    display: flex;
    height: 40px;
    margin: 17px 10px 50px 15px;
}

.userPhoto a:hover {
    border-radius: 9999px;
    background-color: #f0f0f1;
}

.addPostRight {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.happening {
    margin-top: 25px;
}

.whatishappening {
    width: 97%;
    font-size: 22px;
    border: none;
    resize: none;
    overflow-y: hidden;
    min-height: 50px;
}

.form-control {
    resize: none;
    overflow-y: hidden;
}

.whatishappening:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #f0f0f1;
    padding-bottom: 20px;
}

.addPostBottom {
    display: flex;
}

.icons {
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1;
}

.icons i{
    color: #1DA1F2;
    font-size: 17px;
    margin-right: 10px;
    padding: 5px;
}

.icons i:hover {
    background-color: #d6eefd;
    border-radius: 9999px;
    cursor: pointer/;

}

.btn {
    flex: 1;
    background-color: #1DA1F2;
    border: none;
    color: white;
    text-align: center;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 13px 15px 13px 0;
    font-weight: 600;
    cursor: pointer;
}

/*------------------------------------------------Posts in main-------------------------------------------------------*/
.posts {
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;
    border-bottom: 1px solid #f0f0f1;
    padding: 10px;
}

.postMain {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #f0f0f1;
    padding: 10px;
}

.postDown {
    display: flex;
}

a:hover .post, a:hover .postMain {
    background-color: #f0f0f1;
}

.ifPostReposted {
    color: #536471FF ;
    margin-left: 40px;
    font-size: 14px;
    font-weight: 400;
}

.userPhotoMain {
    padding: 5px;
    min-height: fit-content;
}

.right {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
}

.username {
    display: flex;
    margin-top: 5px;
    justify-content: flex-start;
    width: 100%;
}

.usernameLeft {
    margin-right: 5px;
    font-weight: 600;
}

.usernameRight {
    color: #536471;
    margin-right: 5px;
}

.usernameDOT {
    display: flex;
    color: #536471;
    margin-right: 5px;
    font-size: 2px;
    align-items: center;
}

.postDots {
    margin-left: auto;
}

.content {
    text-align: justify;
    margin-top: 7px;
}

.postIcons {
    color: #536471;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.likePost, .likeComment, .retweetPost, .retweetComment {
    color: #536471;
    cursor: pointer;
}

.likePost:hover, .unlikePost:hover, .likeComment:hover, .unlikeComment:hover {
    color: red;
}

.likePost:hover > .fa-heart, .unlikePost:hover > .fa-heart, .likeComment:hover > .fa-heart, .unlikeComment:hover > .fa-heart {
    box-shadow: 0 0 0 5px #ff6a6a;
    background-color: #ff6a6a;
    border-radius: 50%;
}

.unlikePost, .unlikeComment  {
    color: red;
    cursor: pointer;
}

.retweetPost:hover, unRetweetPost:hover, .retweetComment:hover, unRetweetComment:hover {
    color: darkgreen;
}

.retweetPost:hover > .fa-retweet, .unRetweetPost:hover > .fa-retweet, .retweetComment:hover > .fa-retweet, .unRetweetComment:hover > .fa-retweet {
    box-shadow: 0 0 0 5px #5be35b;
    background-color: #5be35b;
    border-radius: 50%;
}

.unRetweetPost, .unRetweetComment {
    color: darkgreen;
    cursor: pointer;
}

.fa-comment:hover, .fa-ellipsisPost:hover {
    box-shadow: 0 0 0 5px dodgerblue;
    background-color: dodgerblue;
    border-radius: 50%;
    color: darkblue;
}

/*--------------------------------------------------ASIDE------------------------------------------------------------*/
aside {
    flex: 0 0 34%;
    display: flex;
    flex-direction: column;
}

.search {
    display: flex;
    background-color: #f7f9f9;
    border-radius: 20px;
    margin-right: clamp(5px, 8vw, 150px);
    margin-left: clamp(5px, 10vw, 25px);
    padding: 12px 16px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.searchimg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
}

.searchaside {
    width: 100%;
    display: flex;
    align-items: center;
}

#searchtxt {
    height: 100%;
    width: 100%;
    border: none;
    resize: none;
    background-color: #f7f9f9;
    font-size: 16px;
}

#searchtxt:focus {
    background-color: #f7f9f9;
    border: none;
    outline: none;

}

.subscribe {
    margin-top: 20px;
    background-color: #f7f9f9;
    border-radius: 20px;
    margin-right: clamp(5px, 8vw, 150px);
    margin-left: clamp(5px, 10vw, 25px);
    padding: 12px 16px;
    text-align: justify;
}

.subscribetop {
    font-size: 20px;
    font-weight: 700;
}

.subscribebtn {
    border: none;
    background-color: #000;
    color: white;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 17px;
}

.subscribebtn:hover {
    cursor: pointer;
    background-color: #222;
}

.whotofollow {
    margin-top: 20px;
    background-color: #f7f9f9;
    border-radius: 20px;
    margin-right: clamp(5px, 8vw, 150px);
    margin-left: clamp(5px, 10vw, 25px);
    display: flex;
    flex-direction: column;
}

.wtftop {
    padding: 12px 16px;
    font-size: 20px;
    font-weight: 700;
}

.proposed a {
    display: flex;
    flex-direction: row;
}

.proposed a:hover {
    display: flex;
    background-color: #f0f0f1;
}

.wtfprofile {
    display: flex;
    padding: 12px 16px;
    width: 100%;
}

.wtfphoto {
    margin-right: 12px;
    display: flex;
}

.wtfphoto img {
    width: auto;
    height: 48px;
    object-fit: cover;
}

.wtffollow {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.wtfusername {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wtfusernameFLN {
    font-weight: 700;
}

.wtfusernameUN {
    color: #536471;
}

.followBtn {
    background-color: #000;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
}

.unfollowBtn {
    background-color: #ffffff;
    color: black;
    border-radius: 50px;
    border: 1px solid #cfd9de;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
}

.followBtn:hover {
    cursor: pointer;
    background-color: #333333;
}

.unfollowBtn:hover {
    cursor: pointer;
    background-color: #ff8c73;
    color: red;
    border: 1px solid red;
}

.showmore {
    color: #0C90E1;
    padding: 20px;
    border-radius: 20px;
}

.showmore:hover {
    background-color: #f0f0f1;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}

.trends {
    margin-top: 20px;
    background-color: #f7f9f9;
    border-radius: 20px;
    margin-right: clamp(5px, 8vw, 150px);
    margin-left: clamp(5px, 10vw, 25px);
    display: flex;
    flex-direction: column;
}

.trendstop {
    padding: 12px 16px;
    font-size: 20px;
    font-weight: 700;
}

.trendsprofile {
    padding: 12px 16px;
    width: 100%;
}

.firstline {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.trendsnumber {
    color: #536471;
    font-size: 13px;
}

.trendsusername {
    margin: 5px 0;
    font-weight: 700;
}

.trendsnumberofposts {
    margin: 5px 0;
    color: #536471;
    font-size: 13px;
}

.footer {
    margin: 20px clamp(5px, 8vw, 150px) 15px clamp(5px, 10vw, 25px);
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    color: rgb(83, 100, 113);
    font-size: 13px;
}

.footer a {
    color: rgb(83, 100, 113);
    font-size: 13px;
    padding-right: 12px;
}

.footer a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#footermore {
    display: flex
}

#footerdots {
    align-items: center;
    margin-left: 2px;
    cursor: pointer;
}

/*-------------------------------------------------------PROFILE-----------------------------------------------------*/
.top {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    height: 53px;
    max-width: 1000px;
    width: 100%;
    align-items: center;
    margin: auto;
    z-index: 1;
    background-color: #FFFFFFF2;
    backdrop-filter: blur(3px);
}

.topL {
    display: flex;
    min-width: 56px;
    min-height: 32px;
    align-self: stretch;
    justify-content: center;
    align-items: center;
}

.topL a {
    padding: 10px 12px;
}

.topL a:hover {
    border-radius: 9999px;
    background-color: #f0f0f1;

}

.topM {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.topMuser {
    font-size: 19px;
    font-weight: 700;
}

.topMposts {
    font-size: 13px;
    color: #536471;
    margin-top: 6px;
}

.profilemain {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.background {
    overflow: hidden;
    position: relative;
}

.background img {
    max-width: 607px;
    width: 100%;
    max-height: 200px;
    height: auto;
}

.user {
    display: flex;
    flex-direction: column;
}

.photoAndOptions {
    position: relative;
}

.profilePhoto {
    position: absolute;
    top: -75px;
    left: 3%;
    width: 150px;
    height: 150px;
    border: 5px solid white;
    border-radius: 9999px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePhoto img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.profileOptions {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.profileoptionsIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #cfd9de;
    border-radius: 9999px;
    margin-right: 15px;
    margin-top: 10px;
    position: relative;
}

.profileoptionsIcons:hover {
    cursor: pointer;
    background-color: #f0f0f1;
    border-radius: 9999px;
}

.tooltip {
    visibility: hidden;
    width: 40px;
    background-color:#536471;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 3px 0;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    margin-left: -20px;
}

.profileoptionsIcons:hover .tooltip {
    visibility: visible;
}

.followButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: #000;
    color: white;
    padding: 0 30px;
    font-weight: 700;
    border-radius: 50px;
    margin-top: 10px;
    margin-right: 15px;
}

.unfollowButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: #ffffff;
    border: 1px solid #cfd9de;
    color: black;
    padding: 0 30px;
    font-weight: 700;
    border-radius: 50px;
    margin-top: 10px;
    margin-right: 15px;
}

.followButton:hover {
    cursor: pointer;
    background-color: #333333;
}

.unfollowButton:hover {
    cursor: pointer;
    background-color: #ff8c73;
    color: red;
    border: 1px solid red;
}

.profileEditbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: #000;
    color: white;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 50px;
    margin-top: 10px;
    margin-right: 15px;
}

.profileEditbtn:hover {
    cursor: pointer;
    background-color: #333333;
}

.profileName {
    margin: 35px 15px 0 15px;
}

.profileNameUserName {
    color: #536471;
    margin-top: 6px;
}

.profileDescription {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
}

.profileInfo {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
}

.profileInfoDiv {
    margin-bottom: 2px;
}

.profileInfoIcon {
    color: #536471;
    margin-right: 2px;
}

.profileInfoSpan {
    color: #536471;
    margin-right: 15px;
}

.profileFollow {
    display: flex;
    margin: 15px 15px;
}

.profileFollow a:hover {
    text-decoration: underline;
}

.profileFollowing {
    margin-right: 10px;
}

.profileFollowNumber {
    font-weight: 700;
}

.profileFollowType {
    color: #536471;
}

.options {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    font-weight: 600;
    box-sizing: border-box;
    border-bottom: 1px solid #f0f0f1;
}

.options a {
    color: #536471;
    flex-grow: 1;
    padding: 20px 0;
}

.options a:hover {
    background-color: #f0f0f1;
}

.deleteOption {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: red;
}

.post-pinoption, .comment-pinoption{
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.deleteOption:hover, .post-pinoption:hover, .comment-pinoption:hover {
    background-color: #f0f0f0;
}

/**--------------------------------POST----------------------------**/
.postTop {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #FFFFFFF2;
    backdrop-filter: blur(3px);
}

.postR {
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.postContent {
    text-align: justify;
    margin-left: 25px;
    margin-right: 15px;
}

.postData {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 25px;
}

.postIcons2 {
    color: #536471;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #eff3f4;
    border-bottom: 1px solid #eff3f4;
    font-size: 20px;
    padding: 10px 0;
    margin: 10px 0;
}

.postIcons2Numbers {
    font-size: 13px;
}

.reply {
    border-bottom: 1px solid #f0f0f1;
}

.replytext {
    width: 97%;
}

.wtfusername {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.replybtn {
    background-color: #1DA1F2;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    padding: 10px
}

.postyourreply {
    width: 100%;
    font-size: 22px;
    border: none;
    resize: none;
    overflow-y: hidden;
    min-height: 10px;
}

.postyourreply:focus {
    border: none;
    outline: none;
    padding-bottom: 20px;
}

.relevant {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid #eff3f4;
    margin-right: clamp(5px, 8vw, 150px);
    margin-left: clamp(5px, 10vw, 25px);
}

.relevantTop {
    padding: 12px 16px;
    font-size: 20px;
    font-weight: 700;
}

.relevant a:hover {
    background-color: #f0f0f1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.revelantbottom {
    display: flex;
    margin-left: 80px;
    margin-right: 30px;
    padding-bottom: 20px;
    text-align: justify;
}

/*-----------------------------MODALS-------------------------------------*/
.modal {
    display: none;
    position: fixed;
    flex: 1;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 600px;
    min-height: 200px;
}

.closePostModal, .closeCommentModal, .closeEditModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closePostModal:hover, .closeCommentModal:hover,
.closePostModal:focus, .closeCommentModal:focus,
.closeEditModal:hover, .closeEditModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.topBarEditProfile {
    display: flex;
}

.profileInfoDiv a {
    color: #0C90E1;
}

/*-----------------------------------------SETTINGS----------------------------------------------------*/
.card-header {
    text-align: center;
    margin-bottom: 20px;
}

.card-body {
    text-align: center;
}

.form-group {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 20px;
}

.text-danger {
    color: red;
}

.optionsWindow {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    border-radius: 10px;
    width: 250px;
    z-index: 1;
    color: #000000;
    font-weight: 700;
    right: 20%;
}

.postCommentPage {
    top: 8%;
}

.optionsWindowOptionUnfollow {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    color: red;
}

.optionsWindowOptionFollow {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.optionsWindowOptionUnfollow:hover, .optionsWindowOptionFollow:hover {
    background-color: #f0f0f0;
}

.topBarEditProfile {
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.editProfileH {
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-left: 5px;
    margin-bottom: 5px;
}

.form-control {
    padding: 16px 12px 16px 12px;
    border-radius: 4px;
    border: 1px solid #cfd9de;
    text-overflow: unset;
    word-wrap: break-word;
    font-size: 17px;
    align-items: center;
    font-weight: 400;
    width: 100%;
    line-height: 24px;
    box-sizing: border-box;
}

.f-c2 {
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
}

.btn-p2 {
    width: 30% !important;
    margin-left: auto;
    margin-right: auto;
}

.followerIng {
    width: 100%;
}

.followerIng:hover{
    cursor: pointer;
    background-color: #f0f0f1;
}

.activeTab {
    color: black;
}
