<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
    <script src="https://kit.fontawesome.com/7bdca9e143.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body id="commentPage">
<div class="container">
    <nav>
        <div class="navbar">
            <ul class="menu">
                <li><a th:href="@{/home}"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a th:href="@{/home}"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i>Explore</a></li>
                <li><a href="#"><i class="fa-regular fa-bell"></i>Notifications</a></li>
                <li><a href="#"><i class="fa-regular fa-envelope"></i>Messages</a></li>
                <li><a href="#"><i class="fa-regular fa-rectangle-list"></i>Lists</a></li>
                <li><a href="#"><i class="fa-solid fa-user-group"></i>Communities</a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i>Premium</a></li>
                <li><a th:href="@{/{username}(username=${myUser.username})}"><i class="fa-regular fa-user"></i>Profile</a></li>
                <li class="menu-item">
                    <div class="menu-link" onclick="moreWindow(event)"><i class="fa-solid fa-ellipsis"></i>More</div>

                    <div class="moreOptionsWindow" style="display: none;">
                        <a th:href="@{/settings/updateUser}" id="updateAccountModal" class="mowoptionLink1">Update account</a>
                        <a th:href="@{/settings/changePassword}" id="changePasswordModal" class="mowoptionLink2">Change password</a>
                        <div class="mowoption" onclick="confirmDelete()">
                            <form id="deleteForm" action="/deleteUser" method="post" style="display: none;">
                                <button type="submit" id="deleteButton"></button>
                            </form>
                            Delete your account
                        </div>
                    </div>
                </li>
            </ul>
            <div id="openPostModal" class="postNav">Post</div>

            <div id="postModal" class="modal">
                <div class="modal-content">
                    <span class="closePostModal">&times;</span>
                    <form th:action="@{/api/addPost}" method="post">
                        <div class="addPost">
                            <div class="userPhoto"><a th:href="@{/{username}(username=${myUser.username})}"><img src="/images/userPhoto.png"></a></div>
                            <div class="addPostRight">
                                <div class="happening">
                                    <textarea class="whatishappening" rows="1" placeholder="What is happening?"
                                              id="contentModal" name="content" required th:value="${content}"></textarea>
                                </div>
                                <div class="addPostBottom">
                                    <div class="icons">
                                        <a href="#"><i class="fa-regular fa-image"></i></a>
                                        <a href="#"><i class="fa-solid fa-video"></i></a>
                                        <a href="#"><i class="fa-solid fa-sliders"></i></a>
                                        <a href="#"><i class="fa-regular fa-face-smile"></i></a>
                                        <a href="#"><i class="fa-regular fa-calendar"></i></a>
                                        <a href="#"><i class="fa-solid fa-location-dot"></i></a>
                                    </div>
                                    <span><button class="btn" type="submit">Post</button></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <br>
            <div class="profile" onclick="logoutWindow(event)">
                <div class="profileLeft">
                    <img src="/images/userPhoto.png">
                </div>
                <div class="profileRight">
                    <div class="profileFL">
                        <div class="profileFLname" th:text="${myUser.firstName}"></div>
                        <div class="profileFLname" th:text="${myUser.lastName}"></div>
                    </div>
                    <div class="profileUname" th:text="'@' + ${myUser.username}"></div>
                </div>
                <div class="profileDots">
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
                <div class="profileOptionsWindow" style="display: none;">
                    <div class="powoption">Add an existing account</div>
                    <a th:href="@{/logout}"><div class="powoption">Log out <span th:text="'@' + ${myUser.username}"></span></div></a>
                </div>
            </div>
        </div>
    </nav>

    <main>
        <div class="main">
            <div class="postTop">
                <div class="topL">
                    <a onclick="window.history.back();"><i class="fa-solid fa-arrow-left"></i></a>
                </div>
                <div class="postR">
                    <span>Post</span>
                </div>
            </div>
            <div class="postUser">
                <div class="relevantmiddle">
                    <div class="wtfprofile">
                        <div class="wtfphoto">
                            <img src="/images/userPhoto.png">
                        </div>
                        <div class="wtffollow">
                            <div class="wtfusername">
                                <div class="wtfusernameFLN" th:text="${comment.user.firstName} + ' ' + ${comment.user.lastName}"></div>
                                <div class="wtfusernameUN" th:text="'@' + ${comment.user.username}"></div>
                            </div>
                            <div class="postDots" onclick="optionsWindow(event)">
                                <i class="fa-solid fa-ellipsis fa-ellipsisPost"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="optionsWindow" style="display: none;" th:if="${isOwner}">
                    <div>Delete comment</div>
                </div>
                <div class="optionsWindow" style="display: none;" th:if="${!isOwner}">
                    <div th:if="${isFollowingMap[comment.user.username]}" class="js-followToggle optionsWindowOptionUnfollow" th:data-username="${comment.user.username}" th:text="'Unfollow @' + ${comment.getUser().getUsername()}"></div>
                    <div th:unless="${isFollowingMap[comment.user.username]}" class="js-followToggle optionsWindowOptionFollow" th:data-username="${comment.user.username}" th:text="'Follow @' + ${comment.getUser().getUsername()}"></div>
                </div>

            </div>
            <div class="postContent" th:text="${comment.body}"></div>
            <div class="postData">
                <div class="usernameRight" th:text="${#dates.format(comment.dateTime, 'MMM dd')}"></div>
                <div class="usernameDOT"><i class="fa-solid fa-circle"></i></div>
                <div class="postViews">19.1 K</div>
                <div class="usernameRight">&nbsp;Views</div>
            </div>
            <div class="postIcons2">
                <div class="openCommentModal" th:data-comment-id="${comment.id}">
                    <i class="fa-regular fa-comment"></i>
                    <span class="postIcons2Numbers" th:text="'&nbsp' + ${comment.commentsCount}"></span>
                </div>
                <div th:if="${isCommentReposted}" class="retweet unRetweetComment" th:data-comment-id="${comment.id}">
                    <i class="fa-solid fa-retweet"></i>
                    <span class="postIcons2Numbers" th:text="'&nbsp;' + ${comment.repostsCount}"></span>
                </div>
                <div th:unless="${isCommentReposted}" class="retweet retweetComment" th:data-comment-id="${comment.id}">
                    <i class="fa-solid fa-retweet"></i>
                    <span class="postIcons2Numbers" th:text="'&nbsp;' + ${comment.repostsCount}"></span>
                </div>
                <div th:if="${isCommentLiked}" class="like-heart unlikeComment" th:data-comment-id="${comment.id}">
                    <i class="fa-regular fa-heart"></i>
                    <span class="postIcons2Numbers" th:text="'&nbsp;' + ${comment.likesCount}"></span>
                </div>
                <div th:unless="${isCommentLiked}" class="like-heart likeComment" th:data-comment-id="${comment.id}">
                    <i class="fa-regular fa-heart"></i>
                    <span class="postIcons2Numbers" th:text="'&nbsp;' + ${comment.likesCount}"></span>
                </div>
            </div>

            <form th:action="@{'/' + ${myUser.username} + '/comment/' + ${comment.id}}" method="post">
                <div class="reply">
                    <div class="relevantmiddle">
                        <div class="wtfprofile">
                            <div class="wtfphoto">
                                <img src="/images/userPhoto.png">
                            </div>
                            <div class="wtffollow">
                                <div class="replytext">
                                    <textarea class="postyourreply" rows="1" placeholder="Post your reply"
                                              id="body" name="body" required th:value="${body}"></textarea>
                                </div>
                                <div class="wtfbutton"><button class="replybtn" type="submit">Reply</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="replies" th:each="comment : ${responses}">
                <a th:href="@{'/' + ${comment.user.username} + '/comment/' + ${comment.id}}">
                    <div class="post">
                        <div class="userPhotoMain">
                            <img src="/images/userPhoto.png">
                        </div>
                        <div class="right">
                            <div class="username">
                                <div class="usernameLeft" th:text="${comment.user.firstName} + ' ' + ${comment.user.lastName}"></div>
                                <div class="usernameRight" th:text="'@' + ${comment.user.username}"></div>
                                <div class="usernameDOT"><i class="fa-solid fa-circle"></i></div>
                                <div class="usernameRight" th:text="${#dates.format(comment.dateTime, 'MMM dd')}"></div>
                                <div class="postDots" onclick="optionsWindow(event)">
                                    <i class="fa-solid fa-ellipsis fa-ellipsisPost"></i>
                                </div>
                            </div>

                            <div class="optionsWindow" style="display: none;" th:if="${isAuthorMap[comment.id]}">
                                <div>Delete comment</div>
                            </div>
                            <div class="optionsWindow" style="display: none;" th:if="${!isAuthorMap[comment.id]}">
                                <div th:if="${isFollowingMap[comment.user.username]}" class="js-followToggle optionsWindowOptionUnfollow" th:data-username="${comment.user.username}" th:text="'Unfollow @' + ${comment.getUser().getUsername()}"></div>
                                <div th:unless="${isFollowingMap[comment.user.username]}" class="js-followToggle optionsWindowOptionFollow" th:data-username="${comment.user.username}" th:text="'Follow @' + ${comment.getUser().getUsername()}"></div>
                            </div>

                            <div class="content" th:text="${comment.body}"></div>
                            <div class="postIcons">
                                <div class="openCommentModal" th:data-comment-id="${comment.id}">
                                    <i class="fa-regular fa-comment"></i>
                                    <span class="postIcons2Numbers" th:text="'&nbsp' + ${comment.commentsCount}"></span>
                                </div>
                                <div th:if="${isCommentReposted}" class="retweet unRetweetComment" th:data-comment-id="${comment.id}">
                                    <i class="fa-solid fa-retweet"></i>
                                    <span class="postIcons2Numbers" th:text="'&nbsp;' + ${comment.repostsCount}"></span>
                                </div>
                                <div th:unless="${isCommentReposted}" class="retweet retweetComment" th:data-comment-id="${comment.id}">
                                    <i class="fa-solid fa-retweet"></i>
                                    <span class="postIcons2Numbers" th:text="'&nbsp;' + ${comment.repostsCount}"></span>
                                </div>
                                <div th:if="${isLikedMap[comment.id]}" class="like-heart unlikeComment" th:data-comment-id="${comment.id}">
                                    <i class="fa-regular fa-heart"></i>
                                    <span class="postIcons2Numbers" th:text="'&nbsp;' + ${comment.likesCount}"></span>
                                </div>
                                <div th:unless="${isLikedMap[comment.id]}" class="like-heart likeComment" th:data-comment-id="${comment.id}">
                                    <i class="fa-regular fa-heart"></i>
                                    <span class="postIcons2Numbers" th:text="'&nbsp;' + ${comment.likesCount}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div id="commentModal" class="modal">
                <div class="modal-content">
                    <span class="closeCommentModal">&times;</span>
                    <form id="commentForm" action="" method="post">
                        <div class="addPost">
                            <div class="userPhoto"><a th:href="@{/{username}(username=${myUser.username})}"><img src="/images/userPhoto.png"></a></div>
                            <div class="addPostRight">
                                <div class="happening">
                                         <textarea class="whatishappening" rows="1" placeholder="Post your reply"
                                                   id="bodyModal" name="body" required th:value="${body}"></textarea>
                                </div>
                                <div class="addPostBottom">
                                    <div class="icons">
                                        <a href="#"><i class="fa-regular fa-image"></i></a>
                                        <a href="#"><i class="fa-solid fa-video"></i></a>
                                        <a href="#"><i class="fa-solid fa-sliders"></i></a>
                                        <a href="#"><i class="fa-regular fa-face-smile"></i></a>
                                        <a href="#"><i class="fa-regular fa-calendar"></i></a>
                                        <a href="#"><i class="fa-solid fa-location-dot"></i></a>
                                    </div>
                                    <span><button class="btn" type="submit">Reply</button></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </main>

    <aside>
        <div class="aside">
            <div class="search">
                <div class="searchimg"><i class="fa-solid fa-magnifying-glass"></i></div>
                <div class="searchaside"><input type="text" id="searchtxt" placeholder="Search"></div>
            </div>

            <div class="relevant">
                <div class="relevantTop">Revelant people</div>
                <a th:href="@{/{username}(username=${user.username})}">
                    <div class="relevantmiddle">
                        <div class="wtfprofile">
                            <div class="wtfphoto">
                                <img src="/images/userPhoto.png">
                            </div>
                            <div class="wtffollow">
                                <div class="wtfusername">
                                    <div class="wtfusernameFLN" th:text="${user.firstName} + ' ' + ${user.lastName}"></div>
                                    <div class="wtfusernameUN" th:text="'@' + ${user.username}"></div>
                                </div>
                                <div class="wtfbutton">
                                    <div th:if="${isFollowed}" class="unfollowBtn js-followToggle " th:data-username="${user.username}">Unfollow</div>
                                    <div th:unless="${isFollowed}" class="followBtn js-followToggle " th:data-username="${user.username}">Follow</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="revelantbottom">
                        Lorem ipsum dolor sit,
                        amet consectetur adipisicing elit. Corrupti
                        inventore sequi nam dolor officiis debitis sint
                        autem. Quo impedit sequi at, alias iusto
                        exercitationem veritatis, ipsa deleniti velit
                        nemo recusandae!
                    </div>
                </a>
            </div>

            <div class="trends">
                <div class="trendstop">Poland trends</div>

                <div class="proposed">
                    <a href="#">
                        <div class="trendsprofile">
                            <div class="firstline">
                                <div class="trendsnumber">1*Politics*Trending</div>
                                <div class="dots"><i class="fa-solid fa-ellipsis"></i></div>
                            </div>
                            <div class="trendsusername">Trump</div>
                            <div class="trendsnumberofposts">1.78M posts</div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="trendsprofile">
                            <div class="firstline">
                                <div class="trendsnumber">1*Politics*Trending</div>
                                <div class="dots"><i class="fa-solid fa-ellipsis"></i></div>
                            </div>
                            <div class="trendsusername">Trump</div>
                            <div class="trendsnumberofposts">1.78M posts</div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="trendsprofile">
                            <div class="firstline">
                                <div class="trendsnumber">1*Politics*Trending</div>
                                <div class="dots"><i class="fa-solid fa-ellipsis"></i></div>
                            </div>
                            <div class="trendsusername">Trump</div>
                            <div class="trendsnumberofposts">1.78M posts</div>
                        </div>
                    </a>
                </div>

                <a href="#" class="showmore"><div>Show more</div></a>
            </div>

            <footer>
                <div class="footer">
                    <a href="#">Terms of Service</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Cookie Policy</a>
                    <a href="#">Accessibility</a>
                    <a href="#">Ads info</a>
                    <a href="#">
                        <div id="footermore">
                            <div>More</div>
                            <div id="footerdots"><i class="fa-solid fa-ellipsis"></i></div>
                        </div>
                    </a>
                    © 2024 X Corp.
                </div>
            </footer>
        </div>
    </aside>
</div>
<script src="/javascript/follow.js"></script>
<script src="/javascript/like.js"></script>
<script src="/javascript/repost.js"></script>
<script src="/javascript/modals.js"></script>
</body>
</html>