<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>TWITTER Clone</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<div class="d-flex justify-content-center"><h1>TWITTER</h1></div>

<br>
<div class="d-flex justify-content-center">
    <a th:href="@{/login}" class="btn btn-primary m-2 p-2" role="button"> Login </a>
    <a th:href="@{/register}" class="btn btn-primary m-2 p-2" role="button"> Register/Signup here </a>
</div>

</body>
</html>