<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <script src="https://kit.fontawesome.com/7bdca9e143.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="container">
    <nav>
        <div class="navbar">
            <ul class="menu">
                <li><a th:href="@{/home}"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a th:href="@{/home}"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i>Explore</a></li>
                <li><a href="#"><i class="fa-regular fa-bell"></i>Notifications</a></li>
                <li><a href="#"><i class="fa-regular fa-envelope"></i>Messages</a></li>
                <li><a href="#"><i class="fa-regular fa-rectangle-list"></i>Lists</a></li>
                <li><a href="#"><i class="fa-solid fa-user-group"></i>Communities</a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i>Premium</a></li>
                <li><a th:href="@{/{username}(username=${myUser.username})}"><i class="fa-regular fa-user"></i>Profile</a></li>
                <li><a href="#"><i class="fa-solid fa-ellipsis"></i>More</a></li>
            </ul>
            <a href="#"><div class="postNav">Post</div></a>
            <br>
            <a href="#">
                <div class="profile">
                    <div class="profileLeft">
                        <img src="images/userPhoto.png">
                    </div>
                    <div class="profileRight">
                        <div class="profileFL">
                            <div class="profileFLname" th:text="${myUser.firstName}"></div>
                            <div class="profileFLname" th:text="${myUser.lastName}"></div>
                        </div>
                        <div class="profileUname" th:text="'@' + ${myUser.username}"></div>
                    </div>
                    <div class="profileDots">
                        <i class="fa-solid fa-ellipsis"></i>
                    </div>
                </div>
            </a>
        </div>
    </nav>

    <main>
        <div class="main">
            <div class="top">
                <div class="topL">
                    <a onclick="window.history.back();"><i class="fa-solid fa-arrow-left"></i></a>
                </div>
                <div class="topM">
                    <div class="topMuser" th:text="${user.firstName} + ' ' + ${user.lastName}"></div>
                    <div class="topMposts">134M posts</div>
                </div>
                <div class="topR"></div>
            </div>
            <div class="profilemain">
                <div class="background">
                    <img src="images/football.jpg">
                </div>
                <div class="user">
                    <div class="profileOptions" th:if="${isOwner}">
                        <div class="profileEditbtn" role="button">Edit profile</div>
                    </div>
                    <div class="profileOptions" th:if="${!isOwner}">
                        <div class="profileoptionsIcons" role="button">
                            <i class="fa-solid fa-ellipsis"></i>
                            <span class="tooltip">More</span>
                        </div>
                        <div class="profileoptionsIcons" role="button">
                            <i class="fa-regular fa-bell"></i>
                            <span class="tooltip">Notify</span>
                        </div>
                        <div th:if="${isFollowing}" class="unfollowButton btntofollow " th:data-username="${user.username}">Unfollow</div>
                        <div th:unless="${isFollowing}" class="followButton btntofollow " th:data-username="${user.username}">Follow</div>
                    </div>
                    <div class="profilePhoto">
                        <img src="images/userPhoto.png">
                    </div>
                    <div class="profileName">
                        <div class="topMuser" th:text="${user.firstName} + ' ' + ${user.lastName}"></div>
                        <div class="profileNameUserName" th:text="'@' + ${user.username}"></div>
                    </div>
                    <div class="profileDescription">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Accusamus possimus officia earum natus. Totam eligendi, tempora laborum aperiam nam delectus voluptatibus.
                        Vel at architecto tempore alias temporibus, numquam sit minus.</div>
                    <div class="profileInfo">
                        <div class="profileInfoDiv">
                            <span class="profileInfoIcon"><i class="fa-solid fa-location-dot"></i></span>
                            <span class="profileInfoSpan">Łódź, Polska</span>
                        </div>
                        <div class="profileInfoDiv">
                            <span class="profileInfoIcon"><i class="fa-solid fa-cake-candles"></i></span>
                            <span class="profileInfoSpan">Born 1995</span>
                        </div>
                        <div class="profileInfoDiv">
                            <span class="profileInfoIcon"><i class="fa-solid fa-calendar-days"></i></span>
                            <span class="profileInfoSpan">Joined November 2020</span>
                        </div>
                        <div class="profileInfoDiv">
                            <span class="profileInfoIcon"><i class="fa-regular fa-envelope"></i></span>
                            <span class="profileInfoSpan">user@gmail.com</span>
                        </div>
                    </div>
                    <div class="profileFollow">
                        <div class="profileFollowing">
                            <a href="#">
                                <div>
                                    <span class="profileFollowNumber">35</span>
                                    <span class="profileFollowType">Following</span>
                                </div>
                            </a>
                        </div>
                        <div class="profileFollowers">
                            <a href="#">
                                <div>
                                    <span class="profileFollowNumber">234</span>
                                    <span class="profileFollowType">Followers</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="options" th:if="${isOwner}">
                <a href="#"><div>Posts</div></a>
                <a href="#"><div>Replies</div></a>
                <a href="#"><div>Highlights</div></a>
                <a href="#"><div>Media</div></a>
                <a href="#"><div>Likes</div></a>
            </div>
            <div class="options" th:if="${!isOwner}">
                <a href="#"><div>Posts</div></a>
                <a href="#"><div>Replies</div></a>
                <a href="#"><div>Media</div></a>
                <a href="#"><div>Likes</div></a>
            </div>

            <div class="posts" th:each="post : ${posts}">
                <a th:href="@{'/' + ${user.username} + '/' + ${post.id}}">
                    <div class="post">
                        <div class="userPhotoMain">
                            <img src="images/userPhoto.png">
                        </div>
                        <div class="right">
                            <div class="username">
                                <div class="usernameLeft" th:text="${user.firstName} + ' ' + ${user.lastName}"></div>
                                <div class="usernameRight" th:text="'@' + ${user.username}"></div>
                                <div class="usernameDOT"><i class="fa-solid fa-circle"></i></div>
                                <div class="usernameRight" th:text="${#dates.format(post.dateTime, 'MMM dd')}"></div>
                            </div>
                            <div class="content" th:text="${post.content}"></div>
                            <div class="postIcons">
                                <i class="fa-regular fa-comment"></i><span th:text="${post.commentsCount}"></span>
                                <i class="fa-solid fa-retweet"></i>
                                <i class="fa-regular fa-heart"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </main>

    <aside>
        <div class="aside">
            <div class="search">
                <div class="searchimg"><i class="fa-solid fa-magnifying-glass"></i></div>
                <div class="searchaside"><input type="text" id="searchtxt" placeholder="Search"></div>
            </div>

            <div class="subscribe">
                <div class="subscribetop">Subscribe to premium</div>
                <p>Subscribe to unlock new features and if  <br>
                    eligible, receive a share of ads revenue.</p>
                <span><button class="subscribebtn" type="submit">Subscribe</button></span>
            </div>

            <div class="whotofollow">
                <div class="wtftop">Who to follow</div>
                <div th:each="user : ${randomUsers}">
                    <div class="proposed">
                        <a th:href="@{/{username}(username=${user.username})}">
                            <div class="wtfprofile">
                                <div class="wtfphoto">
                                    <img src="images/userPhoto.png">
                                </div>
                                <div class="wtffollow">
                                    <div class="wtfusername">
                                        <div class="wtfusernameFLN" th:text="${user.firstName} + ' ' + ${user.lastName}"></div>
                                        <div class="wtfusernameUN" th:text="'@' + ${user.username}"></div>
                                    </div>
                                    <div class="wtfbutton">
                                        <button class="followbtn" data-username="${user.username}">Follow</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <a href="#" class="showmore"><div>Show more</div></a>
            </div>

            <div class="trends">
                <div class="trendstop">Poland trends</div>

                <div class="proposed">
                    <a href="#">
                        <div class="trendsprofile">
                            <div class="firstline">
                                <div class="trendsnumber">1*Politics*Trending</div>
                                <div class="dots"><i class="fa-solid fa-ellipsis"></i></div>
                            </div>
                            <div class="trendsusername">Trump</div>
                            <div class="trendsnumberofposts">1.78M posts</div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="trendsprofile">
                            <div class="firstline">
                                <div class="trendsnumber">1*Politics*Trending</div>
                                <div class="dots"><i class="fa-solid fa-ellipsis"></i></div>
                            </div>
                            <div class="trendsusername">Trump</div>
                            <div class="trendsnumberofposts">1.78M posts</div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="trendsprofile">
                            <div class="firstline">
                                <div class="trendsnumber">1*Politics*Trending</div>
                                <div class="dots"><i class="fa-solid fa-ellipsis"></i></div>
                            </div>
                            <div class="trendsusername">Trump</div>
                            <div class="trendsnumberofposts">1.78M posts</div>
                        </div>
                    </a>
                </div>

                <a href="#" class="showmore"><div>Show more</div></a>

            </div>

            <footer>
                <div class="footer">
                    <a href="#">Terms of Service</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Cookie Policy</a>
                    <a href="#">Accessibility</a>
                    <a href="#">Ads info</a>
                    <a href="#">
                        <div id="footermore">
                            <div>More</div>
                            <div id="footerdots"><i class="fa-solid fa-ellipsis"></i></div>
                        </div>
                    </a>
                    © 2024 X Corp.
                </div>
            </footer>
        </div>
    </aside>
</div>
<script src="/javascript/follow.js"></script>
</body>
</html>