<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <script src="https://kit.fontawesome.com/7bdca9e143.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body id="settings">
<div class="container">
    <nav>
        <div class="navbar">
            <ul class="menu">
                <li><a th:href="@{/home}"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a th:href="@{/home}"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i>Explore</a></li>
                <li><a href="#"><i class="fa-regular fa-bell"></i>Notifications</a></li>
                <li><a href="#"><i class="fa-regular fa-envelope"></i>Messages</a></li>
                <li><a href="#"><i class="fa-regular fa-rectangle-list"></i>Lists</a></li>
                <li><a href="#"><i class="fa-solid fa-user-group"></i>Communities</a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i>Premium</a></li>
                <li><a th:href="@{/{username}(username=${myUser.username})}"><i class="fa-regular fa-user"></i>Profile</a></li>
                <li class="menu-item">
                    <div class="menu-link" onclick="moreWindow(event)"><i class="fa-solid fa-ellipsis"></i>More</div>

                    <div class="moreOptionsWindow" style="display: none;">
                        <a th:href="@{/settings/updateUser}" id="updateAccountModal" class="mowoptionLink1">Update account</a>
                        <a th:href="@{/settings/changePassword}" id="changePasswordModal" class="mowoptionLink2">Change password</a>
                        <div class="mowoption" onclick="confirmDelete()">
                            <form id="deleteForm" action="/deleteUser" method="post" style="display: none;">
                                <button type="submit" id="deleteButton"></button>
                            </form>
                            Delete your account
                        </div>
                    </div>
                </li>
            </ul>
            <div id="openPostModal" class="postNav">Post</div>

            <div id="postModal" class="modal">
                <div class="modal-content">
                    <span class="closePostModal">&times;</span>
                    <form th:action="@{/api/addPost}" method="post">
                        <div class="addPost">
                            <div class="userPhoto"><a th:href="@{/{username}(username=${myUser.username})}"><img src="/images/userPhoto.png"></a></div>
                            <div class="addPostRight">
                                <div class="happening">
                                    <textarea class="whatishappening" rows="1" placeholder="What is happening?" id="contentModal" name="content" required th:value="${content}"></textarea>
                                    <div class="gif-display"></div>
                                </div>
                                <div class="addPostBottom">
                                    <div class="icons">
                                        <i class="fa-regular fa-image"></i>
                                        <i class="fa-solid fa-video"></i>
                                        <div class="gif-picker" style="display:none;"></div>
                                        <i class="fa-solid fa-sliders"></i>
                                        <i class="fa-regular fa-face-smile"></i>
                                        <div class="emoji-picker" style="display:none;"></div>
                                        <i class="fa-regular fa-calendar"></i>
                                        <i class="fa-solid fa-location-dot"></i>
                                    </div>
                                    <span><button class="btn" type="submit">Post</button></span>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" class="gifUrl" name="gifUrl">
                    </form>
                </div>
            </div>

            <br>
            <div class="profile" onclick="logoutWindow(event)">
                <div class="profileLeft">
                    <img src="/images/userPhoto.png">
                </div>
                <div class="profileRight">
                    <div class="profileFL">
                        <div class="profileFLname" th:text="${myUser.firstName}"></div>
                        <div class="profileFLname" th:text="${myUser.lastName}"></div>
                    </div>
                    <div class="profileUname" th:text="'@' + ${myUser.username}"></div>
                </div>
                <div class="profileDots">
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
                <div class="profileOptionsWindow" style="display: none;">
                    <div class="powoption">Add an existing account</div>
                    <a th:href="@{/logout}"><div>Log out <span th:text="'@' + ${myUser.username}"></span></div></a>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="main">
            <div class="top">
                <div class="topL">
                    <a onclick="window.history.back();"><i class="fa-solid fa-arrow-left"></i></a>
                </div>
                <div class="topM">
                    <div class="topMuser">Settings</div>
                </div>
                <div class="topR"></div>
            </div>

            <div class="card-header">
                <h2 class="text-center">Update your data.</h2>
                <p class="text-center"> After a successful update, you will be logged out.</p>
            </div>

            <div class="card-body">
                <form method="post" role="form" th:action="@{updateUser}" th:object="${myUser}"
                >
                    <div class="form-group">
                        <label class="form-label">Username</label>
                        <input class="form-control f-c2" id="username" name="username" placeholder="Enter user name"
                                th:field="*{username}" type="text" required oninput="limitInputLength(this, 30)">
                        <p th:errors = "*{username}" class="text-danger"
                           th:if="${#fields.hasErrors('username')}"></p>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <input class="form-control f-c2" id="email" name="email" placeholder="Enter user email"
                               th:field="*{email}" type="email" required oninput="limitInputLength(this, 30)"/>
                        <p th:errors = "*{email}" class="text-danger"
                           th:if="${#fields.hasErrors('email')}"></p>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Firstname</label>
                        <input class="form-control f-c2" id="firstName" name="firstName" placeholder="Enter firstname"
                                th:field="*{firstName}" type="text" required oninput="limitInputLength(this, 15)">
                    </div>

                    <div class="form-group">
                        <label class="form-label">Lastname</label>
                        <input class="form-control f-c2" id="lastName" name="lastName" placeholder="Enter lastname"
                                th:field="*{lastName}" type="text" required oninput="limitInputLength(this, 20)">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-p2" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <aside>
        <div class="aside">
            <div class="search">
                <div class="searchimg"><i class="fa-solid fa-magnifying-glass"></i></div>
                <div class="searchaside"><input type="text" id="searchtxt" placeholder="Search"></div>
            </div>

            <div class="subscribe">
                <div class="subscribetop">Subscribe to premium</div>
                <p>Subscribe to unlock new features and if  <br>
                    eligible, receive a share of ads revenue.</p>
                <span><button class="subscribebtn" type="submit">Subscribe</button></span>
            </div>

            <footer>
                <div class="footer">
                    <a href="#">Terms of Service</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Cookie Policy</a>
                    <a href="#">Accessibility</a>
                    <a href="#">Ads info</a>
                    <a href="#">
                        <div id="footermore">
                            <div>More</div>
                            <div id="footerdots"><i class="fa-solid fa-ellipsis"></i></div>
                        </div>
                    </a>
                    © 2024 X Corp.
                </div>
            </footer>
        </div>
    </aside>
</div>
<script src="/javascript/modals.js"></script>
<script src="/javascript/delete.js"></script>
<script src="/javascript/others.js"></script>
</body>
</html>